.inner-panel {
  margin: 10.5rem 4.8rem 8rem;
  background-color: var(--dark-1);
  padding: 4rem;
  border-radius: 1rem;
  overflow: hidden;

  @media (max-width: 790px) {
    margin-top: 6rem;
  }

  @media (min-width: 1281px) {
    max-width: 70rem;
    margin: 10.5rem auto;
  }
}
