.layout {
  padding: 1rem;
  width: 100%;
  max-height: calc(100vh - 2rem);
  height: 100%;
  text-align: center;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-height: 19rem;
  max-width: fit-content;
  width: auto;
  height: auto;
  margin: 0 auto;
}
