.shop-panel {
  header {
    p {
      color: var(--grey-0);
      max-width: 30rem;
      margin: -1rem auto 1.2rem;
    }
  }

  &__control-row {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
  }
}

.shop-panel-product {
  
}
