.shop-panel {
  header {
    p {
      color: var(--grey-0);
      max-width: 30rem;
      margin: -1rem auto 1.2rem;
    }
  }

  &__control-row {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2.3rem;
  }
}

.shop-panel-product {
  position: relative;
  width: 15.6rem;
  height: 10rem;
  text-align: start;
  margin-bottom: 5.5rem;

  img {
    border-radius: 0.8rem;
  }

  h3, p {
    margin: 0;
  }

  h3 {
    font-size: var(--font-body);
    align-content: center;
  }

  &__title {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    background-color: var(--teal-0);
    color: var(--dark-1);
    align-content: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: var(--font-price);
  }

  &__rating-container {
    display: flex;
    justify-content: space-between;
  }

  &__rating {
    font-size: var(--font-label);
    display: flex;
    align-items: center;
    gap: 0.2rem;

    span {
      color: var(--grey-0);
      font-weight: 650;
    }
  }

  &__sold-out {
    color: var(--red-0);
    font-weight: 600;
    font-size: var(--font-label);
    align-self: center;
  }

  &__popular-tag {
    background-color: var(--gold-0);
    font-size: var(--font-sm);
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem 0.65rem;
    border-radius: 1rem;
    color: var(--dark-0);
    font-weight: 650;
  }
}
