@import "./settings/colors";
@import "./settings/fonts";
@import "./components/library/button";
@import "./components/library/grid";
@import "./components/layout";
@import "./components/inner-panel";
@import "./components/shop-panel";

* {
  box-sizing: border-box;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--grey-dark-3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey-0);
    border-radius: 10px;
  }
}

#__next {
  height: 100%;
}

body {
  background-color: var(--bg-0);
  color: var(--light-0);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif, system-ui;
  overflow: hidden;
  font-size: var(--font-body);
  font-weight: 540;
}

h1 {
  font-size: var(--font-heading);
  font-weight: 630;
}
