@import "./settings/colors";
@import "./settings/fonts";
@import "./components/layout";

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

body {
  background-color: var(--bg-0);
  color: var(--light-0);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif, system-ui;
}

h1 {
  font-size: var(--font-heading);
}
