.button {
  background-color: transparent;
  color: var(--light-0);
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-size: var(--font-label);
  font-weight: 550;

  &--active {
    background-color: var(--grey-0);
  }

  &:hover {
    border: 1px solid var(--light-0);
  }

  &:focus {
    border: 1px solid transparent;
  }
}
